<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Room | StayGrid</title>
</head>

<body>

    <h1>Add Room</h1>

    <h2>{{ hotel.name }}</h2>

    <p>
        {{ hotel.location }}
    </p>


    <form method="POST">

        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.as_p }}

        <button type="submit">
            Add Room
        </button>

    </form>


    <br>

    <a href="{% url 'manage_hotel' hotel.id %}">
        ← Back to Hotel
    </a>

</body>
</html>